
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*class="container"*@
    <div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">KODLAMA ATÖLYELERİ </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">AHMETLİ KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="AHMETLİ KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=885">
                                                        <img src="../../Content/dist/img/atolye/ahmetli.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">AKHİSAR KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="AKHİSAR KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=886">

                                                        <img src="../../Content/dist/img/atolye/akhisar.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">ALAŞEHİR KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="ALAŞEHİR KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=887">
                                                        <img src="../../Content/dist/img/atolye/alasehir.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">DEMİRCİ KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="DEMİRCİ KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=888">
                                                        <img src="../../Content/dist/img/atolye/demirci.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div><div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">GÖLMARMARA KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="GÖLMARMARA KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=889">
                                                        <img src="../../Content/dist/img/atolye/golmarmara.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">GÖRDES KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="GÖRDES KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=890">
                                                        <img src="../../Content/dist/img/atolye/gordes.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">KIRKAĞAÇ KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="KIRKAĞAÇ KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=891">

                                                        <img src="../../Content/dist/img/atolye/kirkagac.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">KÖPRÜBAŞI KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="KÖPRÜBAŞI KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=892">

                                                        <img src="../../Content/dist/img/atolye/koprubasi.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div><div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">KULA KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="KULA KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=893">

                                                        <img src="../../Content/dist/img/atolye/kula.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">SALİHLİ KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="SALİHLİ KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=894">
                                                        <img src="../../Content/dist/img/atolye/salihli.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">SARIGÖL KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="SARIGÖL KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=895">

                                                        <img src="../../Content/dist/img/atolye/sarigol.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">SARUHANLI KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="SARUHANLI KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=896">
                                                        <img src="../../Content/dist/img/atolye/saruhanli.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">SELENDİ KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="SELENDİ KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=897">
                                                        <img src="../../Content/dist/img/atolye/selendi.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">SOMA KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="SOMA KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=898">

                                                        <img src="../../Content/dist/img/atolye/soma.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">ŞEHZADELER KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="ŞEHZADELER KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=899">

                                                        <img src="../../Content/dist/img/atolye/sehzadeler.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">TURGUTLU KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="TURGUTLU KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=900">
                                                        <img src="../../Content/dist/img/atolye/turgutlu.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div><div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <div class="card card-default">
                                    <div class="card-header">YUNUSEMRE KODLAMA ATÖLYESİ</div>
                                    <table border="1" width="100%" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a title="YUNUSEMRE KODLAMA ATÖLYESİ" href="?islem=detay&amp;a=901">

                                                        <img src="../../Content/dist/img/atolye/yunusemre.jpg" align="center" class="img-thumbnail" style="border: 1px solid #C0C0C0; width:240px; height:200px;">
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</div>


<style>
    /* tab color */
    .nav-tabs > li > a {
        color: #fff;
        background-color: #337AB7;
        border: 1px solid #337AB7;
    }

    /* active tab color */
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #D9EDF7;
        border-color: #99CCFF;
        color: #000000;
    }

    /* hover tab color */
    .nav-tabs > li > a:hover {
        border-color: #1BA260;
        background-color: #DFF0D8;
        color: #000000;
    }
</style>


<script>
    var sec = 00;   // set the seconds
    var min = 20;   // set the minutes

    function countDown() {
        sec--;
        if (sec == -01) {
            sec = 59;
            min = min - 1;
        } else {
            min = min;
        }
        if (sec <= 9) { sec = "0" + sec; }
        time = (min <= 9 ? "0" + min : min) + ":" + sec + "  ";
        if (document.getElementById) { theTime.innerHTML = time; }
        SD = window.setTimeout("countDown();", 1000);
        if (min == '00' && sec == '00') { sec = "00"; window.clearTimeout(SD); }
    }

    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }

    addLoadEvent(function () {
        countDown();
    });
</script>





