
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">İLETİŞİM</h3>
            </div>
        </div>
    </div>
</div>
<div style="margin:10px">
    <h2>KodlaManisa | Manisa Valiliği Kodlama Projesi</h2>
    <h5>Nişancıpaşa Mahallesi Atatürk Bulvarı No: 30 Şehzadeler/MANİSA</h5>
</div>
