
@{
    ViewBag.Title = "Bilgilerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">OKUL BİLGİLERİM</h3>
            </div>
        </div>
    </div>
</div>