
@{
    ViewBag.Title = "OgretmenEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ogretmen Ekle Sayfası</h2>


<form method="post" class="form-group">
    <div class="accent-blue" style="margin:50px">
        <div>
            <label>Öğretmen Adı</label>
            <input type="text" class="form-control" name="OGRETMENAD" />
        </div>
        <div>
            <label>Öğretmen Soyad</label>
            <input type="text" class="form-control" name="OGRETMENSOYAD" />
        </div>
        <div style="margin-top:15px">
            <button class="btn btn-info" id="btn1">Öğretmen Ekle</button>
        </div>
    </div>
    <script>
        $('#btn1').click(function () {
            alet('Öğretmen Ekleme İşlemi Yapıldı...!');
        });
    </script>

</form>
