
@{
    ViewBag.Title = "SifreDegistir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h1 class="card-title" style="margin-top:8px">ŞİFRE DEĞİŞTİR</h1><a href="/Ogretmen/Bilgilerim/" class="btn btn-primary" style="float:right">Bilgilerim</a>
                <div class="col-sm-12 col-md-3" style="float:right; ">
                </div>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="sifre">

    <br>
    <form method="POST" action="bilgilerim.asp?islem=yenisifre" name="yenisifre" onsubmit="return sifrekontrol()">
        <table border="1" width="100%" class="table table-bordered">
            <tbody>
                <tr>
                    <td width="50%" align="right">	Eski Şifre:</td>
                    <td width="50%"><div class="row"> <div class="col-xs-7"><input type="password" name="esifre" size="15" class="form-control"></div></div></td>
                </tr>
                <tr>
                    <td width="50%" align="right">Yeni Şifre:</td>
                    <td width="50%">
                        <div class="row"> <div class="col-xs-7"><input type="password" name="ysifre1" size="15" class="form-control"></div></div>
                    </td>
                </tr>
                <tr>
                    <td width="50%" align="right">Yeni Şifre Tekrar:</td>
                    <td width="50%"><div class="row"> <div class="col-xs-7"><input type="password" name="ysifre2" size="15" class="form-control"></div></div></td>
                </tr>
            </tbody>
        </table>
        <br><center><input type="submit" value="  ŞİFREMİ DEĞİŞTİR  " name="B2" class="btn btn-primary"></center><br>
    </form>
</div>
