@model KodlaManisa.Models.Database.tblOgrenciler
@{
    ViewBag.Title = "AtolyeOgrenciKaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h1 class="card-title" style="margin-top:8px">ATÖLYEYE ÖĞRENCİ YÖNLENDİR</h1><a href="/Ogrenci/Index" class="btn btn-primary" style="float:right"><< ÖĞRENCİ İŞLEMLERİ</a>
                <div class="col-sm-12 col-md-3" style="float:right; ">
                </div>
            </div>
        </div>
    </div>
</div>

