@using KodlaManisa.Models
@model List<tblOgrenciler>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 16px;
            font-size: 16px;
            cursor: pointer;
        }

            /* Darker background on mouse-over */
            .btn:hover {
                background-color: RoyalBlue;
            }
    </style>
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h1 class="card-title" style="margin-top:8px">ÖĞRENCİ İŞLEMLERİ</h1><a href="/Ogrenci/OgrenciYonlendir" class="btn btn-primary" style="float:right">Atölyeye Öğrenci Yönlendir >></a>
                <div class="col-sm-12 col-md-3" style="float:right; ">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-body">
        <center>
            <br><br>

            <a href="/Ogrenci/OgrenciEkle"  class="btn btn-info btn-lg" role="button"><span class="fa fa-address-card"></span><br><p><b>Yeni Öğrenci Kaydı</b></p></a>
            <a href="/Ogrenci/Ogrenciler" class="btn btn-info btn-lg" role="button"><span class="fa fa-bars"></span> <br><p><b>Öğrencileri Listele</b></p></></a>
            <a href="/Ogrenci/OgrenciYonlendir" class="btn btn-success btn-lg" role="button"><span class="fa fa-home"></span> <br><p><b>Atölyeye Öğrenci Yönlendir >></b></p></a>

            <br><br>
        </center>
    </div>


</div>
