@using KodlaManisa.Models
@using GridMvc.Html
@model List<tblOkullar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card card-dark">
            <div class="card-header">
                <h1 class="card-title" style="margin-top:8px">OKULLAR</h1>

            </div>
        </div>
    </div>
</div>

<div style="margin:10px">


    @Html.Grid(Model).Columns(columns =>
{

columns.Add(m=>m.OkulAdi)
.Titled("Okul Adı")
.Filterable(true)
.Sanitized(false)
.Sortable(true)
.Encoded(false);
columns.Add(m=>m.tblIlceler.IlceAdi)
.Titled("İlçesi")
.Filterable(true)
.Sanitized(false)
.Sortable(true)
.Encoded(false);
columns.Add(m => m.tblOkulTuru.OkulTuru)
.Titled("Kademesi")
.Filterable(true)
.Sanitized(false)
.Sortable(true)
.Encoded(false);
columns.Add()
.Titled("İşlemler")
.Sanitized(false)
.Encoded(false)
.SetWidth(20)
.RenderValueAs(o => Html.ActionLink("Detay", "OkulDetay", "Okul", new { id = o.ID }, new { @class = "btn btn-info" })
.ToHtmlString());

}).WithPaging(15)
</div>




@*<div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="card card-primary">
                <div class="card-heading">
                    <h3 class="card-title">OKULLAR </h3>
                </div>
                <div class="card-body">

                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            İLÇE SEÇİNİZ <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                            <li><a href="kodlama-istatistik.asp"> TÜM İLÇELER </a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=AHMETLİ">AHMETLİ</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=AKHİSAR">AKHİSAR</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=ALAŞEHİR">ALAŞEHİR</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=DEMİRCİ">DEMİRCİ</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=GÖLMARMARA">GÖLMARMARA</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=GÖRDES">GÖRDES</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=KIRKAĞAÇ">KIRKAĞAÇ</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=KÖPRÜBAŞI">KÖPRÜBAŞI</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=KULA">KULA</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=SALİHLİ">SALİHLİ</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=SARIGÖL">SARIGÖL</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=SARUHANLI">SARUHANLI</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=SELENDİ">SELENDİ</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=SOMA">SOMA</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=ŞEHZADELER">ŞEHZADELER</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=TURGUTLU">TURGUTLU</a></li>
                            <li><a href="kodlama-istatistik.asp?ilce=YUNUSEMRE">YUNUSEMRE</a></li>


                        </ul>
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            KURUM SEÇİNİZ <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="dLabel">
                            <li><a href="kodlama-istatistik.asp"> TÜM KURUMLAR </a></li>

                            <li><a href="kodlama-istatistik.asp?ilce=&amp;k=1"> Ahmetli Çancılar İmam Hatip Ortaokulu</a></li>

                            <li><a href="kodlama-istatistik.asp?ilce=&amp;k=16"> Alahıdır Ortaokulu</a></li>

                            <li><a href="kodlama-istatistik.asp?ilce=&amp;k=15"> Altıeylül Ortaokulu</a></li>

                            <li><a href="kodlama-istatistik.asp?ilce=&amp;k=14"> Barbaros Ortaokulu</a></li>
                        </ul>
                    </div>







                    <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">



                        <div class="card card-default">
                            <div class="card-heading" role="tab" id="heading1" margin-top="8px">
                                <h4 class="card-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="collapsed">
                                        <br>    <table border="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td height="30" width="10%">	<p align="center"><font face="Verdana" size="2">Sıra No</font>&nbsp;</p></td>
                                                    <td width="25%"><font face="Verdana" size="2">&nbsp;İLÇE ADI&nbsp;</font></td>
                                                    <td width="55%"><font face="Verdana" size="2">&nbsp;OKUL ADI&nbsp;</font>	</td>
                                                    <td align="center" width="10%">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a>
                                </h4>
                            </div><br>


                            <div id="collapse1" class="card-collapse out in" role="tabpanel" aria-labelledby="heading1" style="height: auto;">

                                <div class="card-body">



                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="card card-info">
                                                <div class="card-heading">
                                                    <h3 class="card-title">GENEL BİLGİLER</h3>
                                                </div>
                                                <table border="1" width="100%" class="table table-bordered table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td width="65%" align="right" height="30"> Okulda BT sınıfı var mı?</td>
                                                            <td width="35%" height="30">Evet</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="65%" align="right" height="30"> Destekleme Yetiştirme Kursu açıldı mı?</td>
                                                            <td width="35%" height="30">Hayır</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="65%" align="right" height="30"> 7. Sınıflarda seçmeli ders var mı?</td>
                                                            <td width="35%" height="30">Hayır</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="65%" align="right" height="30"> 8. Sınıflarda seçmeli ders var mı?</td>
                                                            <td width="35%" height="30">Hayır</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Okuldaki BT sınıfı sayısı</td>
                                                            <td width="45%">1</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Bilgisayar Sayısı</td>
                                                            <td width="45%">10</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> 5. Sınıf Bilişim Teknolojileri ve Yazılım Dersi Gören Öğrenci Sayısı (Hazırlık sınıfları hariç)</td>
                                                            <td width="45%">50</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> 6. Sınıf Bilişim Teknolojileri ve Yazılım Dersi Gören Öğrenci Sayısı</td>
                                                            <td width="45%">70</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> 7. Sınıf Bilişim Teknolojileri ve Yazılım Dersi Gören Öğrenci Sayısı</td>
                                                            <td width="45%">42</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> 8. Sınıf Bilişim Teknolojileri ve Yazılım Dersi Gören Öğrenci Sayısı</td>
                                                            <td width="45%">39</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Bilişim Teknolojileri ve Yazılım Dersi Gören Toplam Öğrenci Sayısı</td>
                                                            <td width="45%">150</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Okuldaki Bilişim Dersine Giren Öğretmen Sayısı</td>
                                                            <td width="45%">2</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Okuldaki Bilişim Dersi Toplam Ders Saati</td>
                                                            <td width="45%">40</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> BT Sınıfının Durumu: (BT sınıfının kurulum yılı, bağış mı, kurulum şekli,bilgisayarların durumu vs.)</td>
                                                            <td width="45%"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> BT Sınıfında İhtiyaç Duyulan Bilgisayar Sayısı</td>
                                                            <td width="45%"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> BT Sınıfında Kullanılmayan İhtiyaç Fazlası Bilgisayar Sayısı</td>
                                                            <td width="45%"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <div class="card card-success">
                                                <div class="card-heading">
                                                    <h3 class="card-title">OKULDAKİ ROBOTİK SETLER</h3>
                                                </div>
                                                <table border="1" width="100%" class="table table-bordered table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td width="55%" align="right"> Arduino Set Sayısı:</td>
                                                            <td width="45%">3</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Mbot Sayısı:</td>
                                                            <td width="45%">2</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Mbot Ranger Sayısı:</td>
                                                            <td width="45%"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Lego Seti Sayısı:</td>
                                                            <td width="45%">5</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Vex Seti Sayısı:</td>
                                                            <td width="45%">3</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> 3 Boyutlu Yazıcı Sayısı:</td>
                                                            <td width="45%">1</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="55%" align="right"> Diğer Robotik Setlerin Sayısı:</td>
                                                            <td width="45%"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <div class="card card-primary">
                                                <div class="card-heading">
                                                    <h3 class="card-title"><b>ÖĞRETMENLER</b></h3>
                                                </div>
                                                <table border="1" width="100%" class="table table-bordered table-hover">

                                                    <tbody>
                                                        <tr><td colspan="3" align="center"><font face="Verdana" size="2">Öğretmen yok</font></td></tr>


                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>


                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>




                </div>




            </div>


        </div>
    </div>*@
